<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>Post</string>
	<key>CFBundleExecutable</key>
	<string>Post</string>
	<key>CFBundleIconFile</key>
	<string>Post.icns</string>
	<key>CFBundleIconName</key>
	<string>Post</string>
	<key>CFBundleIdentifier</key>
	<string>com.jack.Post</string>
	<key>CFBundleName</key>
	<string>Post</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>0.2.4</string>
	<key>CFBundleVersion</key>
	<string>2</string>
	<key>LSMinimumSystemVersion</key>
	<string>14.0</string>
	<key>NSHighResolutionCapable</key>
	<true/>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2026 Post contributors. MIT licensed.</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
<key>SUFeedURL</key><string>https://raw.githubusercontent.com/JackCosta2612/Post/main/docs/appcast.xml</string>
<key>SUPublicEDKey</key><string>NmghGZTxFQU2SQuUm1L2FDppiTdVWzGOeRrVTUKKQSY=</string>
<key>SUEnableAutomaticChecks</key><true/>
<key>SUAutomaticallyUpdate</key><false/>
<key>SUVerifyUpdateBeforeExtraction</key><true/>
</dict>
</plist>
